nav {
  background-color: #F7F9F9;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  text-decoration: none;
  color: #1b1b1b;
}

.menu-link .link {
  margin: 0 0 0 1rem;
  text-decoration: none;
  color: #1b1b1b;
  transition: all .2s ease-out;
}

.menu-link .link:hover {
  font-size: 20px;
  font-weight: 600;
}

.menu-link .link:focus {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  nav {
    padding: 0 20px;
  }

  .menu-link .link {
    margin: 0 0 0 10px;
    font-size: 13px
  }
}